body{
    margin: 0;
}
/*@font-face {*/
    /*font-family: "Open Sans";*/
    /*src: url(//fonts.fontstorage.com/import/opensans.css);*/
/*}*/
.page-holder{
    min-width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #6c82e4;
    box-shadow: 0 0 10px black;
}
/*HEADER STYLES*/
header{
    width: 100%;
    height: 116px;
    background-color: white;
}
.logo-head{
    display: inline-block;
    float: left;
    font-family: "Caviar Dreams";
    padding: 40px 0 0 180px;
}
.logo-head a{
    text-decoration: none;
}
.logo-head a span:nth-child(1){
    font-size: 36px;
    color: #ee8129;
}
.logo-head a span:nth-child(2){
    font-size: 36px;
    font-weight: bold;
    color: #3070a8;
}
.main-menu{
    display: inline-block;
    float: right;
}
.main-menu ul {
    margin-right: 180px;
    margin-top: 65px;
}

.main-menu ul li{
    display: inline-block;
    margin-left: 25px;

}
.main-menu ul li a{
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    color: #989898;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    padding: 20px 15px 28px 15px;
}

.main-menu ul li  a:hover {
    border-bottom: 4px solid #3070a8;
    color: #3070a8;
}
/*BLOCK-1 STYLES*/
.block-1{
    width: 100%;
    position: relative;
    height: 585px;
    background-image: url("img/block-1.png");
    color: white;
    text-align: center;
}
.block-1 span:nth-child(1){
    display: block;
    font-family: "Caviar Dreams";
    font-size: 36px;
    padding-top: 150px;
}
.block-1 span:nth-child(2){
    display: block;
    font-family: "Caviar Dreams";
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}
.block-1 span:nth-child(3){
    display: inline-block;
    font-family: "Calibri";
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
    padding-top: 20px;
}
.block-1 button{
    margin: 45px auto;
    display: block;
    width: 250px;
    height: 60px;
    background-color: transparent;
    border: 1px solid rgba(255, 255,255, 0.5);
    border-radius: 2px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.block-1 button:hover {
    background-color: rgba(255,255,255, 0.25);
    color: #ccd7ff;
    box-shadow: 0 0 6px 1px rgba(250, 250, 250, 0.3);
    cursor: pointer;
}
.block-1 button:active{
    box-shadow: inset 0 0 6px 1px rgba(250, 250, 250, 0.3);
}
/*block 2*/
.block-2{
    width: 100%;
    position: relative;
    height: 585px;
    background-color: #ffffff;
    color: white;
    text-align: center;
}
.block-2-content{
    max-width: 1024px;
    position: relative;
    text-align: center;
    margin: 0px auto;
}
.block-2-title{
    display: block;
    font-family: "Trebuchet MS";
    font-size: 30px;
    color: #41525c;
    text-transform: uppercase;
    padding-top: 65px;
    margin: 0 auto;
}
.block-2-circles{
    margin: 0 0;
    padding: 0 0;
}
.block-2-circle-content{
    display: inline-block;
    overflow: hidden;
    width: 335px;
    margin: 70px auto 0;
}
.block-2-circle-icon{
    width: 140px;
    height: 140px;
    border-radius: 140px;
    margin: 0 auto;
    position: relative;
    background-color: #3070a8;
    box-shadow: inset 8px 5px 0px #2c6699;
}
.fa-lock{
    font-size: 50px;
    margin: 45px auto;
    vertical-align: middle;
}
.fa-bolt{
    font-size: 50px;
    margin: 45px auto;
    vertical-align: middle;
}
.fa-mobile-alt{
    font-size: 50px;
    margin: 45px auto;
    vertical-align: middle;
}
.block-2-circle-content-title{
    display: inline-block;
    font-family: "Futura Bk BT";
    font-size: 30px;
    color: #3070a8;
    text-transform: uppercase;
    margin-top: 30px;
}
.block-2-circle-content-text{
    display: inline-block;
    font-family: "Open Sans";
    font-size: 14px;
    text-align: center;
    color: #999999;
    margin-top: 30px;
    padding: 0 20px 55px 20px;
}
.circle-icon{
    text-shadow: 6px 8px 5px #2b6699;
}
/*block 3 styles*/
.block-3{
    width: 100%;
    height: 576px;
    position: relative;
    background-image: url("img/block-3.png");
}
.block-3-content{
    width: 1024px;
    position: relative;
    text-align: left;
    margin: 0px auto;
}
.block-3-title{
    display: block;
    font-family: "Futura Bk BT";
    font-size: 25px;
    text-transform: uppercase;
    color: #ee8129;
    max-width: 675px;
    line-height: 1.6em;
    padding-top: 60px;
}
.block-3-subtitle{
    display: block;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: italic;
    color: #fff;
    padding-top: 10px;
}
.block-3-list{
    display: block;
    max-width: 550px;
    font-family: "Open Sans";
    font-size: 14px;
    color: #9d9d9d;
    padding-top: 25px;
    line-height: 2em;
}
.block-3-list > li{
    padding-bottom: 25px;
}
.block-3-list > li:nth-child(2){
    color: #3070a8;
}