body{
    background: #f0f0f0;
}
.page-wrapper{
    position: relative;
    width: 974px;
    background-color: #ffffff;
    margin: 60px auto 16px;
    padding: 13px 20px 0px;
    box-shadow: 0px 0px 8px -3px #000000d1;
}
.page-separator{
    width: 932px;
    height: 1px;
    margin: 0 auto;
    background-color: #e0e0e0;
    box-shadow: 0px 1px 2px 0px #0000004f;
}
.page-wrapper-2{
    position: relative;
    width: 974px;
    background-color: #ffffff;
    margin: 16px auto 60px;
    padding: 13px 20px;
    box-shadow: 0px 0px 8px -3px #000000d1, 0px 29px 40px -25px #00000052;
}
/*header block styles*/
.header{
    width: 932px;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
}
.menu-wrapper{
    display: inline-block;
    position: relative;
    float: right;
}
.menu-wrapper > ul > li{
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #666666;
    text-align: right;
    padding: 0 25px 25px 25px;
}
.menu-wrapper a{
    text-decoration: none;
    color: #666666;
}
.menu-wrapper a:hover{
    color: #000;
}
#apply-now-button{
    background-color: #ffc552;
    color: #fff;
    text-shadow: 0px 1px 1px #00000080;
    border: 1px solid #D8A54B;
    border-radius: 4px;
    padding: 6px;
    margin-left: 35px;
}
#apply-now-button a{
    color: #fff;
    padding: 6px 0;
}
#apply-now-button:active{
    box-shadow: inset 1px 1px 1px -1px #000000a8;
}
/*submenu styles*/
.header-blog-submenu{
    position: absolute;
    min-width: 150px;
    justify-content: center;
    top: 55%;
    right: 18%;
    background-color: #ffffff;
    border: 1px solid #cbc1bc;
    border-radius: 2px;
    margin: 0 0;
    padding: 11px 7px 0 7px;
    display: none;
}
/*triangle start*/
.header-blog-submenu::before, .header-blog-submenu::after {
    content: '';
    position: absolute;
    left: 20px; bottom: 135px;
    border: 10px solid transparent;
    border-top: 10px solid #cbc1bc;
}
.header-blog-submenu::after {
    border-top: 10px solid #ffffff;
    bottom: 136px;
}
/*triangle end*/
.header-blog-submenu > li{
    position: relative;
    list-style: none;
    text-align: left;
    font-family: Oxygen, sans-serif;
    font-size: 12px;
    color: #666666;
    border-bottom: 1px solid #cbc1bc;
    padding: 8px 0;
    margin: 0 6px;
}
.header-blog-submenu > li:nth-child(1){
    padding: 0 0 6px 0;
    margin: 0 0;
    border: none;
}
.header-blog-submenu li:nth-child(2){
    border-top: 1px solid #cbc1bc;
}
.header-blog-submenu li:nth-child(4){
    border-bottom: none;
}
.header-blog-submenu li > div{
    background-color: #f3f3f3;
    padding: 8px 6px;
    border-radius: 3px;
}
.header-blog-submenu li > div > p{
    margin: 0 0;
}
.header-blog-submenu li > div > p:nth-child(2){
    font-family: Arial;
    font-size: 10px;
    color: #aaaaaa;
    margin: 0 0;
}
/*submenu hover*/
.menu-wrapper > ul > li:hover > ul {
    display: inherit;
}
/*header block styles end*/

/*contacts styles*/
.contacts{
    width: 932px;
    margin: 0 auto;
}
.contacts-title{
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    color: #a5a5a5;
    padding: 1em 2px;
    margin: 30px 0 0 0;
    text-transform: uppercase;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: inset 0px -15px 30px -25px #0000006b,
                inset 0px 15px 30px -25px #0000006b;
}
.contacts-left{
    display: inline-block;
    position: relative;
    width: 615px;
    height: 490px;
    border-right: 1px solid #cdcdcd;
}
.contacts-subtitle{
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    color: #222222;
    padding: 1em 2px;
    margin: 0 0;
    border-bottom: 1px solid #cdcdcd;
}
.contacts-left > form > ul{
    margin: 0 0;
    padding: 0 0;
}
.contacts-form-element{
    list-style: none;
    position: relative;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #444444;
    padding: 20px 3px;
    margin: 0 0;
}
.contacts-left > form > ul > li > input{
    padding: 0;
    width: 150px;
    height: 23px;
    position: absolute;
    top: 14px;
    left: 100px;
    border-radius: 3px;
}
.form-correct{
    border-color: #39a653;
}
.form-correct::before{
    content: '\2714';
    position: absolute;
    top: 15px;
    left: 265px;
    font-size: 15px;
    color: #39a653;
}
.form-incorrect{
    border-color: #ecb0b0;
}
.form-incorrect::before{
    content: 'something wrong with your email';
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #ac4040;
    background-color: #ecb0b0;
    position: absolute;
    top: 14px;
    left: 265px;
    padding: 7px;
    border-radius: 3px;
}

.contacts-left > form > ul > li > textarea{
    padding: 5px;
    width: 475px;
    position: absolute;
    top: 17px;
    left: 100px;
    border-radius: 3px;
}
.form-send-button{
    width: 133px;
    height: 29px;
    position: absolute;
    bottom: 50px;
    left: 100px;
    background-color: #ffc552;
    border: 1px solid #D8A54B;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-shadow: 0px 1px 1px #00000080;
}
.form-send-button:active{
    box-shadow: inset 1px 1px 1px -1px #000000a8;
}
.contacts-right{
    display: inline-block;
    float: right;
    width: 299px;
    height: 172px;
    margin-top: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}
.contacts-right-title{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #cdcdcd;
    margin: 0 10px;
    padding: 1em 0;
    color: #666666;
    text-transform: uppercase;
}
.contacts-right-content{
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #444444;
    padding: 1em;
    margin: 0 0;
    text-align: justify;
    line-height: 1.5em;
}

/*footer styles*/
.footer{
    width: 932px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
}
/*left and middle blocks*/
.footer-list{
    display: inline-block;
    width: 210px;
    vertical-align: top;
}
.footer-list > ul{
    margin: 0 0;
    padding: 0 0;
}
.footer-list > ul > li{
    list-style: none;
    width: 180px;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0px 5px 0;
}
.footer-list > ul > li > a{
    text-decoration: none;
    vertical-align: top;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666666;
    padding: 0 3px;
}
/*hover*/
.footer-list > ul > li > a:hover{
    text-decoration: underline;
}
.footer-list > ul > li:first-child{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffad19;
    border: none;
    padding: 20px 0 15px;
}
.footer-list > ul > li:last-child{
    border: none;
}
/*right block*/
.footer-articles{
    display: inline-block;
    width: 460px;
    vertical-align: top;
}
.footer-articles > p:first-child{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffad19;
    padding: 20px 0 15px;
    margin:  0 0;
}
.footer-articles > ul{
    margin: 0 0;
    padding: 0 0;
}
.footer-articles > ul > li{
    position: relative;
    list-style: none;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0px 5px 35px;
    height: 52px;
}
.footer-articles > ul > li:last-child{
    border: none;
}
/*custom bullets*/
.footer-articles > ul > li:before{
    /*content: url("img/footer-bullet.png");*/
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 2px;
}
.footer-articles > ul > li > a{
    text-decoration: none;
    vertical-align: top;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666666;
}
/*hover*/
.footer-articles > ul > li > a:hover{
    text-decoration: underline;
}
.footer-articles > ul > li > a > p{
    font-size: 11px;
    color: #aaaaaa;
    margin: 0 0;
    padding: 0 0;
}
.page-bot-decoration{
    width: 1012px;
    position: absolute;
    left: 1px;
    bottom: 1px;
    height: 1px;
    background-color: #e8e8e8;
    margin: 0 auto;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: 0px 0px 1px 0px #0000008a;
}
