body
{
    margin: 0;
    padding: 0;
    font-family: Economica;
}

h1 {
    text-align: left;
    color: #8557ba;
    text-shadow: 1px 1px 1px black;
    margin-left: 10px;
}

nav
{
    background-color: #721d9b;
    /*width: 100%;*/
    display: flex;
    position: relative;
    /*margin-top: -16px;*/
    /*padding: 0;*/
}
nav ul
{
    width: 900px;
    margin: auto;
    text-align: center;
}
a
{
    text-decoration: none;
}

nav li
{
    display: inline-block;
    /*margin: auto 50px;*/
    /*!*border: 1px solid black;*!*/
}

nav li a
{
    font-family: Economica;
    font-weight: bold;
    font-size: 22px;
    color: aliceblue;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    /*border-bottom: 1px solid transparent;*/
}

nav li a:hover
{
    color: black;
    background-color: #9e92ee;
    border-bottom: 4px solid black;
    padding: 5px 5px 1px;
}

#morebutton  {    margin-right: auto; }

.contextmenu {
    display: none;
    /*visibility: hidden;*/
    background-color: #9e92ee;

    /*margin: auto;*/

    position: absolute;
    margin-left: auto;
    top: 35px;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
}
.contextmenu > ul
{
    margin-left: 0;
    text-align: left;
    width: auto;
}
.contextmenu ul li
{
    display: inline-block;
}

.contextmenu ul li a
{
    display: inline-block;
    font-family: "Calibri Light";
    font-weight: normal;
    font-size: 18px;
    color: aliceblue;
    text-transform: none;
    padding: 7px;
    margin: 0 5px;
    text-align: left;
}
.contextmenu ul li a:hover {
    border: none;
    color: black;
}

nav > ul > li:hover .contextmenu
{
    display: flex;
}



/*menu for task map*/
.taskmenu {
    margin-left: 15px;
    padding: 4px;
}
.taskmenu > li {
    display: inline; /* This one doin menu as horisontal */
    margin-right: 5px;
    border: 1px solid #000;
    padding: 5px;
}

.taskmenu a {
    color: #5c5c5c;
    text-decoration: none;
}
.active_task
{
    border-bottom: 2px solid black;
    background-color: #721d9b;
    color: white;
}
.active_task a
{
    color: white;
}
.taskmenu li:hover {
    background-color: #a3a3a3;
    color: #5c5c5c;
}
.taskmenu a:hover
{
    color: #5c5c5c;
}

/*{*/
/*background-color: #8557ba;*/
/*}*/