body{
    background: black;
    padding: 0;
    margin: 0;
}
.grid
{
    background: black;
    padding: 0;
    margin: 0;
}
.grid-row {
    display: flex;
}

.grid-item {
    flex-shrink: 1;
    padding: 1px;
}

.grid-row:nth-child(1) .grid-item:nth-child(1) { flex-grow: 190; }
.grid-row:nth-child(1) .grid-item:nth-child(2) { flex-grow: 190; }
.grid-row:nth-child(1) .grid-item:nth-child(3) { flex-grow: 100; }

.grid-row:nth-child(2) .grid-item:nth-child(1) { flex-grow: 190; }
.grid-row:nth-child(2) .grid-item:nth-child(2) { flex-grow: 250; }
.grid-row:nth-child(2) .grid-item:nth-child(3) { flex-grow: 190; }

.grid-row:nth-child(3) .grid-item:nth-child(1) { flex-grow: 100; }
.grid-row:nth-child(3) .grid-item:nth-child(2) { flex-grow: 190; }
.grid-row:nth-child(3) .grid-item:nth-child(3) { flex-grow: 250; }

.grid-row:nth-child(4) .grid-item:nth-child(1) { flex-grow: 190; }
.grid-row:nth-child(4) .grid-item:nth-child(2) { flex-grow: 100; }
.grid-row:nth-child(4) .grid-item:nth-child(3) { flex-grow: 190; }

.grid img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.final-lvl {
    position: relative;
}
#final-boss {
    position: absolute;
    top: 18%;
    right: 0;
    bottom: 0;
    left: 10%;

    width: 80%;
    flex-grow: 190;

}

.grid-item{
    border: 5px solid black;
    outline-offset: -20px;
    /*box-sizing: border-box;*/
}
.grid-item:hover {
    animation-name: border-animation;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}

@keyframes border-animation {
    from {
        border: solid 5px white;
        outline-offset: -20px;
    }

    to {
        border: solid 5px black;
        outline-offset: -20px;
        /*box-sizing: border-box;*/
    }
}